[submodule "pcb/lib/MX_Alps_Hybrid"]
	path = pcb/lib/MX_Alps_Hybrid
	url = git@github.com:ai03-2725/MX_Alps_Hybrid.git
[submodule "pcb/lib/keyswitch-kicad-library"]
	path = pcb/lib/keyswitch-kicad-library
	url = git@github.com:perigoso/keyswitch-kicad-library.git
[submodule "pcb/lib/ProMicroKiCad"]
	path = pcb/lib/ProMicroKiCad
	url = git@github.com:Biacco42/ProMicroKiCad.git
